*{
    --lado_tablero:900px;
    --lado_celda: calc(var(--lado_tablero) / 12);
    --lado_celda_largo: calc(var(--lado_celda) * 1.5);
    --fuente_tablero: 0.555em;
    --ficha_size: 1.8rem;
    --barra_corto: calc(var(--lado_celda) / 5);
    --contenedor_fichas: calc(var(--lado_celda) / 1.1);
    --burdeos-oscuro: rgb(62, 0, 4);
    --burdeos: rgb(75, 6, 18);
    --marron: rgb(112, 13, 31);
    --rojo: rgb(160, 26, 36);
    --rojo-claro: rgb(231, 34, 49);
    --rojo-pastel: rgb(255, 57, 70);
    --rosita: rgb(221, 166, 201);
    --arena: rgb(144, 117, 119);
    --pergamino: rgb(246, 214, 182);
    --amarillo-sucio: rgb(161, 153, 127);
    --amarillo: rgb(255, 174, 14);
    --amarillo-claro: rgb(248, 197, 95);
    --naranja: rgb(234, 84, 26);
    --verde-pastel: rgb(107, 198, 120);
    --verde-claro: rgb(28, 135, 61);
    --verde: rgb(28, 104, 53);
    --verde-oscuro: rgb(16, 71, 29);
    --deshabilitado: rgb(137, 137, 151);
    --azul-oscuro: rgb(34, 35, 106);
    --azul-oceano: rgb(1, 59, 167);
    --azul: rgb(39, 114, 187);
    --azul-cielo: rgb(156, 205, 238);
    --lila: rgb(60, 56, 173);
    --negro: rgb(26, 23, 16);
    --blanco: rgb(255, 244, 209);
    --transparente: rgba(0,0,0,0);

    /*secundarios fichas */
    --ficha1: rgb(255, 197, 150);
    --ficha2: rgb(26, 23, 16);
    --ficha3: rgb(241, 231, 222);
    --ficha4: rgb(238, 207, 83);

    /*translucidos*/
    --rojo-translucido: rgba(160, 26, 36, 0.5);
    --azul-translucido: rgba(34, 35, 106, 0.5);
    --burdeos-translucido: rgba(58, 19, 11, 0.5);
    --negro-translucido: rgba(26, 23, 16, 0.4);
}
@font-face {
    font-family: "Animales Fantastic";
    src: url("fonts/AnimalesFantastic-lGly.ttf");
}
@font-face {
    font-family: "Harry P";
    src: url("fonts/HARRYP__.TTF");
}
body{
    margin: 0;
    font-family: 'Libre Baskerville', serif;
    background-color: var(--burdeos);
}
h3{
    font-size: 1.5em;
    font-family: "Animales Fantastic", serif;
}
p{
    margin: 0;
}
.cont-dados{
    text-align: center;
}
.boton{
    border: none;
    background-color: var(--azul-oscuro);
    color: var(--pergamino);
    font-family: "Libre Baskerville", serif;
    border-radius: 0.8em;
    padding: 0.5em 2em;
    font-size: 1em;
    transition: background-color 0.4s, color 0.4s;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: fit-content;
}
.boton-tablero{
    background-color: var(--azul);
}
.btn-finalizar{
    background-color: var(--rojo);
    font-size: 1.125em;
    width: fit-content;
}
.btn-aceptar{
    width: 50%;
}
.btn-cancelar{
    width: 50%;
    background-color: var(--rojo);
}

.boton:hover:not([disabled]){
    cursor: pointer;
    background-color: var(--amarillo);
    color: var(--negro);
}
.boton:disabled{
    cursor: auto;
    background-color: var(--deshabilitado);
}
.btn-finalizar:hover:not([disabled]){
    background-color: var(--verde);
    color: var(--pergamino);
}
.btn-finalizar:disabled{
    cursor: auto;
    background-color: var(--arena);
}
#btn-cancelar-confirm:hover{
    background-color: var(--burdeos-oscuro);
    color: var(--pergamino);
}
.cont-col{
    width: 33.33333%;
}
.cont-botones{
    display: flex;
    align-items: center;
}
.cont-tirada{
    position: absolute;
    width: fit-content;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 1em;
}
.cont-mensaje{
    text-align: center;
}
.mensaje{
    opacity: 1;
    transition: opacity 1s;
}
.transparente{
    opacity: 0;
}
/* Cambia el valor de la url a images/banner2.svg */
/* Cambia el valor de padding-top a 4em */
.tirada-dados{
    background: url("images/ribbonbanner.svg") no-repeat 50% 0;
    padding-top: 0.5em;
}
.tirada-dados{
    padding-bottom: 4em;
    width: 24em;
    background-size: contain;
}

.absoluto{
    position: absolute;
    width: fit-content;
    left: 0;
    right: 0;
    margin: 0 auto;
}
/* Cambia el font-family a Papyrus */
#titulo-juego{
    font-family: "Harry P", serif;
}
#titulo-juego{
    text-align: center;
    font-size: 3.653em;
    width: fit-content;
    margin: 0;
}
.contenedor-botones{
    text-align: center;
}
.cont-interior{
    padding: 1em;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
#mensaje{
    max-width: 20em;
    margin-right: auto;
    margin-left: auto;
}
.svg-dados{
    width: 6em;
}
.svg-dados path{
    fill: var(--negro);
    transition: fill 0.4s;
}
.dados:hover:not([disabled]){
    cursor: pointer;
}
.dados:hover path{
    fill: var(--rojo);
    transition: fill 0.4s;
}
.dados:disabled path{
    fill: var(--amarillo-sucio);
    cursor: auto;
}
.dados{
    background-color: transparent;
    border: none;
}
.cont-dados{
    position: absolute;
    width: calc(var(--lado_celda) * 9 );
    left: 0;
    right: 0;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.infoDiv{
    z-index: 9;
    background-color: var(--pergamino);
    text-align: center;
    font-size: 0.702em;
    width: 20em;
    height: 30em;
    margin-left: 10px;
    padding: 0.5em;
}
.deuda{
    width: 100%;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.79em;
    padding-bottom: 1.7em;
    color: var(--rojo);
    font-weight: bold;
    background: url("images/banner.png") no-repeat center;
    background-size: contain;
}
.infoDivCont{
    border: 1px solid var(--negro);
    height: 100%;
    display: flex;
    flex-direction: column;
}
.infoDivCont>div:first-child{
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    max-width: 100%;
}
.precio-info-tarjeta{
    margin-top: auto;
}
h4{
    margin: 0;
    font-size: 1.266em;
}
.divisor{
    height: 1px;
    width: 80%;
    margin: 0.5em auto;
    background-color: var(--negro);
}
#tnombre1{
    color: var(--azul-cielo);
}
#tnombre2{
    color: var(--amarillo);
}
#tnombre3{
    color: var(--verde-claro);
}
#tnombre4{
    color: var(--rojo-claro);
}
#tnombre1:after{
    background-color: var(--azul-cielo);
}
#tnombre2:after{
    background-color: var(--amarillo);
}
#tnombre3:after{
    background-color: var(--verde-claro);
}
#tnombre4:after{
    background-color: var(--rojo-claro);
}
.titulo-nombre1{
    color: var(--azul-cielo);
}
.titulo-nombre2{
    color: var(--amarillo);
}
.titulo-nombre3{
    color: var(--verde-claro);
}
.titulo-nombre4{
    color: var(--rojo-claro);
}
.titulo-nombre1:after{
    background-color: var(--azul-cielo);
}
.titulo-nombre2:after{
    background-color: var(--amarillo);
}
.titulo-nombre3:after{
    background-color: var(--verde-claro);
}
.titulo-nombre4:after{
    background-color: var(--rojo-claro);
}
#contenedor{
    height: 100%;
    min-height: 100vh;

}
#contenedor-tablero{
    z-index: 9;
    position: relative;
    display: flex;
    height: 100%;
    min-height: 100vh;
    padding: 2em 2em 0 2em;
}
.gradiente1{
    z-index: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(56,54,43, 0);
    background: radial-gradient(circle at top, rgb(134, 41, 33) 0%, rgba(42,34,8,0) 60%);
}
.gradiente{
    z-index: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(56,54,43, 0);
    background: radial-gradient(circle at left bottom, rgb(134, 41, 33) 0%, rgba(42,34,8,0) 40%);
}
#contTablero{
    display: flex;
    padding-left: 2em;
    padding-right: 2em;

}
#tablero{
    height: var(--lado_tablero);
    width: var(--lado_tablero);
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    border: 2px solid var(--negro);
    background-image: url("images/tablero1.png");
    background-size: cover;
    background-position: center;
}
.celdaTablero{
    box-sizing: border-box;
    border: 1px solid var(--negro);
    font-size: var(--fuente_tablero);
    display: flex;
}

.celdaTableroAlto {
    height: var(--lado_celda_largo);
    width: var(--lado_celda);
    flex-direction: column;
}
.celdaTableroAncho {
    height: var(--lado_celda);
    width: var(--lado_celda_largo);
}
.celdaTableroEsquina{
    height: var(--lado_celda_largo);
    width: var(--lado_celda_largo);
    display: inline-block;

}
.celdaTableroEsquina{
    font-size: 0.889em;
    font-weight: bold;
}

.row {
    display: flex;
}
.div-interior{
    padding: 0.4em;
    /*height: calc(100% - 30px);*/
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.internas{

    width: calc(var(--lado_celda) * 9);
    border-left: 2px solid var(--negro);
    border-right: 2px solid var(--negro);
}
.internas-arriba{
    border-top: 2px solid var(--negro);
}
.internas-abajo{
    border-bottom: 2px solid var(--negro);
}
.col-1{
    flex-grow: 1;
    height: 100%;
}
.col-3{
    width: 100%;
}
.row{
    height: 100%;
}

.jugador{
    height: 50%;
    transition: transform 1s, opacity 1s;
}
.jugadores{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.ficha{
    height: var(--ficha_size);
    width: var(--ficha_size);
    border-radius: var(--ficha_size);
    box-shadow: 5px 5px 0 var(--negro);
}
.rowFichas{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0.5em;
    padding-right: 1.5em;
    margin-top: -1.5em;
}

.ficha1{
    background-color: var(--azul);
}
.ficha2{
    background-color: var(--amarillo);
}
.ficha3{
    background-color: var(--verde);
}
.ficha4{
    background-color: var(--rojo);
}

.casillaJugador1{
    border: 3px solid var(--azul);
}
.casillaJugador2{
    border: 3px solid var(--amarillo);
}
.casillaJugador3{
    border: 3px solid var(--verde);
}
.casillaJugador4{
    border: 3px solid var(--rojo);
}
.galeones{
    color: var(--pergamino);
}
.divColor{
    height: var(--barra_corto);
    width: 100%;
    display: flex;
}
.divColorHorizontal{
    height: 100%;
    width: var(--barra_corto);
}
.divColorHorizontalIzq{
    margin-left: auto;
}
.nombre{
}
.nombre-horizontal{
    margin-right: 5px;
    max-width: 6.5em;
}
.precio{
    font-weight: bold;
    text-align: center;
}
.contenedorHorizontal{
    flex-grow: 1;
    display: flex;
    padding: 0.5em;
    justify-content: space-between;
}
.contenedorHorizontalDerecha{
    margin-right: auto;
}
.marron{
    background-color: var(--marron);
    color: var(--pergamino);
}
.azul-cielo{
    background-color: var(--azul-cielo);
    color: var(--negro);
}
.fucsia{
    background-color: var(--rosita);
    color: var(--negro);
}
.naranja{
    background-color: var(--naranja);
    color: var(--negro);
}
.rojo{
    background-color: var(--rojo-claro);
    color: var(--pergamino);
}
.amarillo{
    background-color: var(--amarillo-claro);
    color: var(--negro);
}
.verde{
    background-color: var(--verde-oscuro);
    color: var(--pergamino);
}
.azul-oceano{
    background-color: var(--azul-oceano);
    color: var(--pergamino);
}
.casita g{
    fill: var(--verde-pastel);
}
.hotel g{
    fill: var(--rojo-pastel);
}
.svg-casa{
    width: 15px;
    height: 15px;
}
.pinchable:hover{
    cursor: pointer;
}

.infoDiv{
    position: absolute;
}
.fondo{
    z-index: 99;
    background-color: var(--negro-translucido);
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
}
.div-mensaje{
    background-color: var(--pergamino);
    width: 300px;
    height: 200px;
    padding: 2em;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    text-align: center;
}
.div-mensaje-cantidad{
    width: 450px;
    height: 300px;
}
.mensaje-popup{

}
.botones-popup{
    display: flex;
    gap: 1em;
}
.popup-ganar {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    background-color: rgba(0,0,0,0.4);
}
.div-ganar{
    background-color: var(--pergamino);
    width: 36em;
    height: 24em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6em;
    text-align: center;
}
.mensaje-ganar{
    font-size: 2.887em;
}
.puntuaciones{
    font-size: 1.802em;
    color: var(--rojo);
}
.div-puntuacion{
    display: flex;
    justify-content: space-between;
}
.cabecera-puntuaciones{
    display: flex;
    justify-content: space-between;
}
.hcabecera{
    font-size: 1.266em;
    font-weight: bold;
}
.btn-volver{
    width: fit-content;
    padding: 0.5em 2em;
    margin-top: 2em;
}

.numero{
    display: none;
}


.honeydukes{

    background: url("images/honeydukes.png") no-repeat center;
    background-size: 80%;
}
.sortilegios{

    background: url("images/sortilegios.png") no-repeat 50% 80%;
    background-size: 70%;
}
.ficha1 path{
    fill: var(--ficha1);
}
.ficha2 path{
    fill: var(--ficha2);
}
.ficha3 path{
    fill: var(--ficha3);
}
.ficha4 path{
    fill: var(--ficha4);
}
.subrayado{
    display: inline-block;
    position: relative;
    width: fit-content;
}

.subrayado:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    top: 1.5em;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

#contenedor{
    height: 100%;
    min-height: 100vh;

}

.subrayado-after:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.azkaban{
    display: flex;
    font-weight: bold;
}
.azkaban .nombre{
    margin-bottom: 0.4rem;
}
.cont-azkaban{
    margin-left: -0.4rem;
    margin-bottom: -0.4rem;
    background-color: var(--rojo);
    border-top: 3px solid var(--negro);
    border-left: 1px solid var(--negro);
    border-right: 3px solid var(--negro);
    border-bottom: 1px solid var(--negro);
    box-sizing: border-box;
    flex-grow: 1;
    width: 85%;
}
.cont-interno-azkaban{
    background: url("images/prision.png") no-repeat 50% 100%;
    background-size: 65%;
    width: 100%;
    height: 100%;
    transform: rotate(45deg) translateY(-0.6rem);

}

.anden{
    background: url("images/express.png") no-repeat 50% 90%;
    background-size: 40%;
}
.dmle{
    background: url("images/dmle.png") no-repeat 50% 60%;
    background-size: 60%;
    display: flex;
    font-weight: bold;
}
.dmle-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}
.pociones{
    background: url("images/caldero.svg") no-repeat 50% 60%;
    background-size: 50% 50%;
}
.hechizos{
    background: url("images/varita.svg") no-repeat 50% 60%;
    background-size: 60% 60%;
}
.comedor{
    background: url("images/comedor.png") no-repeat 50% 80%;
    background-size: 60%;
}
.gryffindor{
    background: url("images/gryffindor.png") no-repeat 50% 80%;
    background-size: 30%;
}
.hufflepuff{
    background: url("images/hufflepuff.png") no-repeat 50% 70%;
    background-size: 50%;
}
.ravenclaw{
    background: url("images/ravenclaw.png") no-repeat 50% 70%;
    background-size: 50%;
}
.slytherin{
    background: url("images/slytherin.png") no-repeat 50% 80%;
    background-size: 30%;
}
.impuesto1{
    background: url("images/galeones.png") no-repeat 50% 80%;
    background-size: 60%;
}
.impuesto2{
    background: url("images/galeones.png") no-repeat 50% 80%;
    background-size: 40%;
}
.nombre{
    text-align: center;
}
.nombre-horizontal{
    text-align: left;
}
.cont-tarjetas{
    height: 4em;
    display: flex;
    gap: 0.5em;
}
.tarjeta-libertad{
    height: 4em;
    width: 7em;
    background: rgb(253, 209, 89);
    background: radial-gradient(circle at top left, rgb(253, 209, 89) 0%, rgb(217, 170, 17) 50%);
    border-radius: 0.3em;
    font-size: 0.79rem;
    padding: 0.3em;

}
.tarjeta-invisibilidad{
    height: 4em;
    width: 7em;
    border-radius: 0.3em;
    font-size: 0.79rem;
    border: 1px solid var(--pergamino);
    color: var(--pergamino);
    padding: 0.3em;
}
.div-tarjeta {
    background-color: var(--negro);
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 1px;
    margin-top: 0.3em;

}
.div-tarjeta-invisibilidad {
    background-color: var(--pergamino);
}
.cont-texto-tarjeta{
    text-align: center;
}
.texto-tarjeta{
    display: inline-block;
    margin-right: 0.2em;
}
.cantidad-tarjeta{
    display: inline-block;
    font-size: 0.79rem;
}
.div-interno-tarjeta{
    border: 1px solid var(--negro);
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.tarjeta-invisibilidad .div-interno-tarjeta{
    border: 1px solid var(--pergamino);
}
#div-tiempo{
    z-index: 9;
    position: absolute;
    width: 100%;
    text-align: center;
    color: var(--pergamino);
    font-size: 1.5em;
}

.modo{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #CEA340;
    background: radial-gradient(circle at top, #F2D072 0%, #CEA340 60%);
    z-index: 99999;
}
.titulo-modo{
    font-size: 3.247em;
    margin-bottom: 1em;
}
.div-modo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 1em;
}
.btn-normal{
    background-color: var(--rojo);
    width: 12em;
    font-size: 1.602em;
    color: var(--blanco);
}
.btn-normal:hover:not([disabled]){
    opacity: 0.6;
    background-color: var(--rojo);
    color: var(--blanco);

}
.btn-normal:disabled{
    cursor: auto;
    background-color: var(--arena);
}
.btn-contra{
    width: 12em;
    font-size: 1.602em;
    background-color: var(--rojo);
    color: var(--blanco);
}
.btn-contra:hover:not([disabled]){
    opacity: 0.6;
    background-color: var(--rojo);
    color: var(--blanco);
}
.btn-contra:disabled{
    cursor: auto;
    background-color: var(--arena);
}
button.seleccionado{
    background-color: var(--burdeos-oscuro);
}
.btn-seleccionar{
    margin-top: 3em;
    width: 8em;
    font-size: 1.266em;
    color: var(--blanco);
}
.btn-seleccionar:hover:not([disabled]){
    background-color: var(--azul-oscuro);
    opacity: 0.6;
    color: var(--blanco);
}
#tiempo{
    font-size: 1.602em;
    padding: 0.7em;
}
#popup-tiempo{
    z-index: 99999;
}
#silenciar{
    position: absolute;
    width: 100%;
    text-align: right;
    z-index: 999;
}
#btn-volumen{
    background-color: transparent;
    border: none;
    margin-top: 1em;
    margin-left: auto;
}
#btn-volumen:hover .icono-volumen{
    color: var(--azul-cielo);
    cursor: pointer;
}
#btn-volumen .icono-volumen{
    color: var(--amarillo);
    font-size: 2.5em;
}
.invisible{
    visibility: hidden;
}

.seleccionable{
    background-color: var(--rojo-translucido);
    box-shadow: 0px 0px 3px 3px var(--rojo);
}
.seleccionable:hover{
    background-color: var(--azul-translucido);
    box-shadow: 0px 0px 5px 5px var(--azul-oscuro);
}
div.seleccionado{
    background-color: var(--burdeos-translucido);
    box-shadow: 0px 0px 3px 3px var(--burdeos-oscuro);
}
.acciones{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--azul-oscuro);
    transition: opacity 1s;
    z-index: 9;
    box-sizing: border-box;
}
div.col-tablero{
    z-index: 99;
}
.botones-acciones{
    z-index: 999;
    width: 18em;
    margin: 0;
    transition: transform 1s , opacity 1s, background-color 0.4s, color 0.4s;
    background-color: var(--amarillo);
    color: var(--negro);
}
.botones-acciones:hover:not([disabled]){
    cursor: pointer;
    background-color: var(--rojo);
    color: var(--pergamino);
}
#galeones {
    transition-delay: 0.2s;
}
#btnComprarCasas{
    transition-delay: 0.4s;
}
#btnVentaJug{
    transition-delay: 0.6s;
}
.mover-derecha{
    transform: translateX(20em);
}
.anim-entrada{
    transition: transform 1s , opacity 1s;
}

.mover-izquierda{
    transform: translateX(-20em);
}
.boton-icono{
    background-color: transparent;
    width: fit-content;
    border: none;
    transition: transform 0.5s , opacity 0.5s;
}

.flecha{
    color: var(--pergamino);
    font-size: 2em;
    transition: color 0.5s;
}
.boton-flecha:hover{
    transform: translateX(-0.5em);
}
.boton-flecha:hover .flecha{
    color: var(--azul-cielo);
}
.cerrar{
    color: var(--rojo-claro);
    font-size: 2.5em;
    transition: color 0.4s, transform 0.4s;
}
.boton-cerrar:hover .cerrar{
    color: var(--amarillo);
    transform: scale(1.1);
}
.vacio{
    min-width: var(--lado_tablero);
    padding-left: 2em;
    padding-right: 2em;
}
.contenedor-acciones{
    padding: 2em;
    padding-top: 3em;
    position: relative;
    z-index: 1;
}
.contenedor-col-acciones{
    display: flex;
}
.contenedor-volumen{
    display: flex;
}
.boton-cerrar{
    display: block;
    margin-left: auto;
}

.gradiente-acciones{
    z-index: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--transparente);
    background: radial-gradient(circle at left bottom, var(--lila) 0%, var(--transparente) 40%);
}
.gradiente-acciones1{
    z-index: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--transparente);
    background: radial-gradient(circle at top, var(--lila) 0%, var(--transparente) 60%);
}
.gradiente-acciones2{
    z-index: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--transparente);
    background: radial-gradient(circle at right, var(--lila) 0%, var(--transparente) 60%);
}



.oculto{
    display: none;
}
